@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteca P&amp;P</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper at massa nec pellentesque. Aenean est massa, sagittis vitae eros sit amet, accumsan fringilla nisl. 
    Phasellus mollis neque vel nisi consectetur, id semper libero lacinia. Vivamus nisi dui, fringilla ac laoreet non, auctor id elit. 
    Integer et est mauris. Mauris quis lacus orci. In posuere ante vel sollicitudin suscipit. Quisque ornare a risus id varius. 
    Duis scelerisque porta nulla, at dignissim nunc convallis quis. 
    Cras ex sem, rutrum nec posuere et, consequat ac nisl. Maecenas interdum dolor nisi, eget aliquet dui lobortis ut.
</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>